.btn {
  border: 1px solid green;
  cursor: pointer;
  color: #384440;
  padding: 5px 10px;
  background-color: #ffffff;
}

.btn:hover {
  border: 1px solid #b01c4e;
  opacity: 0.8;
}

.clear {
  border: none;
  background: none;
  outline: none;
  margin-left: 10px;
  color: black;
  background-color: white;
  border: 2px solid #b01c4e;
  transition-duration: 0.4s;
  border-radius: 0.5rem;
}

.clear:hover {
  background-color: #b01c4e;
  color: white;
}

.danger {
  border: 1px solid red;
  color: orangered;
  background-color: #f6eedd;
  border-radius: 3px;
}
